@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../font/Montserrat-Regular.woff2") format("woff2"),
    url("../font/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../font/Montserrat-SemiBold.woff2") format("woff2"),
    url("../font/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  background: url(../imas/fondo.svg) no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: "Montserrat", sans-serif;
}

#poli {
  position: absolute;
  left: 25px;
  top: 20px;
}
#upic {
  position: absolute;
  right: 25px;
  top: 20px;
}
#logris {
  opacity: 0;
}
#tx_logo {
  opacity: 0;
  margin-top: 50px;
}

#logo {
  position: absolute;
  width: 524px;
  height: 20px;
  top: 90px;
  left: calc(50% - 262px);
}
#logo_ch {
  position: absolute;
  width: 250px;
  height: 20px;
  top: 140px;
  left: calc(50% - 125px);
  display: none;
}
#siglas {
  background: url(https://www.sites.upiicsa.ipn.mx/uteycv/imas/siglas.png)
    no-repeat;
  position: absolute;
  top: 0px;
  width: 0px;
  height: 113px;
}
#siglas_ch {
  background: url(https://www.sites.upiicsa.ipn.mx/uteycv/imas/siglas_ch.png)
    no-repeat;
  position: absolute;
  top: 0px;
  width: 0px;
  height: 100px;
}
#quetza {
  position: absolute;
  top: 0px;
  right: 710px;
  opacity: 0;
}
#quetza_ch {
  width: 150.6px;
  position: absolute;
  top: -12px;
  right: 297px;
  opacity: 0;
}
#tx_logo_ch {
  width: 250px;
  opacity: 0;
  margin-top: 100px;
}
#ima1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 20%;
  max-width: 216px;
  opacity: 0;
}
#ima2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 40%;
  max-width: 426px;
  opacity: 0;
}
#tx_costru {
  position: absolute;
  bottom: 20%;
  left: calc(50% - 90px);
  text-align: center;
  font-size: 20px;
  color: #333333;
  transform: scale(2);
  opacity: 0;
}
#info {
  text-align: justify;
  margin-top: 180px;
  opacity: 0;
}
#ligo,
#instruc {
  opacity: 0;
  padding-top: 30px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #0071bc;
}

@media only screen and (max-width: 590px) {
  #logo {
    display: none;
  }
  #logo_ch {
    display: block;
  }
  #info {
    margin-top: 150px;
  }
}

.sec {
  border: solid #b3b3b3 thin;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat-semibold";
  margin-top: 10px;
}
.sec:hover {
  cursor: pointer;
}

.nom_sec {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
}
.ico-sec {
  padding-top: 20px;
  padding-bottom: 20px;
}

#nom-instru {
  background: #90bf35;
}
#nom-ligo {
  background: #0071bc;
}
#nom-rdd {
  background: #f7931e;
}
#nom-docentes,
#nom-estudiantes,
#nom-sabatico {
  background: #6c757d;
}

.sinpadding [class*="col-"] {
  padding: 0px;
}

.espacio {
  height: 150px;
  width: 100%;
}

.espacio1 {
  height: 20px;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .sec {
    border: none;
  }
}

#conecta {
  opacity: 0;
}

#conectate {
  width: 100%;
  height: 140px;
  background: linear-gradient(
    to bottom,
    rgba(9, 114, 183, 1) 0%,
    rgba(145, 191, 53, 1) 90%,
    rgba(251, 177, 59, 1) 100%
  );
}
#tit_conectate {
  padding: 20px;
}

#demo {
  margin-top: -70px;
}

.info-noticia {
  padding: 15px 0px;
  background: white;
}

.imagen {
  padding-bottom: 20px;
  height: 100%;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 50px;
  color: #cccccc;
}

.carousel-indicators {
  color: black;
}

.carousel-indicators li {
  background-color: #cccccc;
}
.carousel-indicators .active {
  background-color: #b3b3b3;
}

#descargas {
  background: url(../imas/fonx.png);
  background-size: 100% 100%;
  color: white;
  opacity: 0;
}

#tit-descargas {
  background: #ffb800;
  color: #bd125f;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.bot-desc {
  background: #ffb800;
  color: #bd125f;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  border: solid #bd125f thick;
}
.bot-desc:hover {
  transform: rotate(-3deg);
}

.ima_aniv:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.titu-vid {
  color: #ffb800;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  padding-top: 5px;
}

.tit_conc2 {
  color: #0071bc;
  text-align: center;
  font-family: "Montserrat-semibold";
}

.descri {
  font-size: 13px;
  text-align: justify;
  border-bottom: solid #f7931e thin;
  border-top: solid #f7931e thin;
  margin-top: -10px;
}
.verde {
  color: #90bf35;
  font-size: 18px;
}
.verde:hover {
  color: #0071bc;
}
.esp10px {
  height: 10px;
}
.marg-8px {
  margin-top: -8px;
}

.nom-nota {
  position: absolute;
  left: 44px;
  top: 5px;
  font-size: 13px;
  line-height: 16px;
}
#banner {
  border-top: solid #333333 4px;
}
#banner:hover,
.capacitacion:hover {
  cursor: pointer;
  opacity: 0.8;
}

.info-banner {
  background: #333333;
  line-height: 18px;
  color: white;
  display: flex;
  align-items: center; /*centrado vertical*/
  justify-content: center; /*centrado horizontal*/
  overflow-y: visible;
  height: 14%;
  text-align: left;
}

@media only screen and (max-width: 992px) {
  .info-banner {
    height: 28%;
  }
}
@media only screen and (max-width: 768px) {
  #aviso {
    margin-top: 30px;
  }
}

#ico-videos {
  transform: scale(2);
}

#btn_youtube {
  position: fixed;
  bottom: 60px;
  right: -6px;
  z-index: 1000;
}

#btn_spotify {
  position: fixed;
  bottom: 10px;
  right: -6px;
  z-index: 1000;
}

#btn_spotify:hover,
#btn_youtube:hover {
  cursor: pointer;
  right: 0px;
}

.extra {
  background: white;
  border: solid #c9c9c9 thin;
  padding: 20px;
}

.tx-extra {
  color: #ba125f;
  text-align: center;
}

/* Footer */
.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 5rem;
  padding-top: 5rem;
}

.site-footer h3 {
  margin-bottom: 1rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer-menu a {
  display: block;
}

.copyright {
  margin-top: 5rem;
  text-align: center;
}
